*, *:before, *:after {
  box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: #000000;

}


form.Location-Search-Bar button {
  float: right;
  width: 20%;
  padding: 5px;
  background: #FFFFFF;
  color: white;
  font-size: 17px;
  border: 1px solid white;
  border-left: none;
  cursor: pointer;
}


.Map {
  width: 100%;
}


.container {
position: relative;
max-width: 375px;
margin: auto;
}



fieldset {
  width: 80%;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,0.34);
  padding: 15px;
  border-radius: 10px;
  background-color: #ffffff;
  position: absolute;
  top: 35px;
  left: 35px;
}


input {
  width: none;
  border: none;
  padding-right: 22px;

}





::placeholder {
  font-size: 17px;
  font-weight: 400;
  color: #8E8E93;
}



.fa {
	color: #E66354;
}


.fa.fa-bars{
  padding-right: 15px;

}

.fa.fa-search{
    margin-left: 80px;
    font-size: 21px;

}


.wifi {
  position: absolute;
  top: 170px;
  right: 64px;
  width: 10px;
}

.fa.fa-history {
  position: absolute;
  left: 275px;
  font-size: 16px;
  padding-top: 8px;


}


.bottom-nav {
  width: 375px;
  height: 800px;
  border-radius: 10px;
  background-color: #ffffff;
  position: absolute;
  top: 350px;
  color: #000000;
  box-shadow: 0 6px 20px 0 rgba(0,0,0,0.34);
}


.location {
  color: #E66354;
}


.GripLines {
width: 6%;
margin-left: 180px;
margin-top: 15px;
}


.mainbus {
  padding-top: 12px;
  padding-bottom: 5px;

}

.transit-nav {
  max-width: 85%;
  height: 494px;
  background: rgba(245,245,244,0.50);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);
  border-radius: 6px;
  margin-left: 25px;
}





.bus-icon {
    display: inline-flex;
    float: left;
    padding-right: 12px;


}

.bus-stop {
  margin-left: 25px;
  padding-top: 10px;

}


.bus-num {
  float: left;
  width: 46px;
  height: 22px;
  margin-top: 10px;
  background: #26367C;
  border-radius: 3px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400px;
  text-align: center;
  margin-right: 10px;
  padding-top: 1px;
}



h1 {
font-size: 24px;
margin-top: 15px;
margin-bottom: 25px;
text-align: center;
}



h2 {
  font-size: 20px;
  color: #515156;
  text-align: left;
}

h3 {
  font-size: 16px;
  color: #808087;
  text-align: left;
}

h4 {
  font-size: 14px;
  color: #262525;
  display: inline-block;
  float: left;
  margin-top: 7px;
}


h5 {
  font-size: 13px;
  color: #4B4B4B;
  font-style: italic;
  float: left;
  margin-right: 50%;
}

h6  {
  font-size: 11px;
  display: inline-flex;

}







.bus-routes {
  border-bottom: 1px solid #CBCBCB;
  padding-bottom: 26px;

}


.route {
    padding-top: 5px;
    padding-left: 25px;
    text-align: right;
    margin-right: 10px;
}



.time {
    font-size: 16px;
    transform: translate(8px, 8px);

}

.frequency {
  font-size: 11px;
  color: #3c3c3c;
  font-weight: bold;
  position: absolute;
  left: 295px;
  padding-top: 7px;


}




.button {
  width: 85.5%;
  height: 55px;
  background-color: #E66354;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  background: #E66354;
  border-radius: 0 0 6px 6px;
  position: absolute;
  right: 30.5px;
  top: 595px;
}


.calendy {
    position: relative;
    top: 8px;
}
